*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
    
}
body{
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100vh;
}
.navbar__icon__img{
    width: 190px;
}
.bar{
    grid-column: 1;
    background-color: #ffffff;
    border:solid #eee 1px;
    padding: 10px;
    z-index: 10;
}
.navbar{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: stretch;
}
.navbar__list{
    margin-top: 2vh;
    flex-direction: column;
    list-style: none;
    flex-grow: 1;
}
.navbar__list__element{
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    gap: 15px;
    color: #333;
}
.navbar__list__element:hover{
    background-color:#c9d0dbd7 ;
    border-radius: 5px;
    
}
.navbar__list__element__icon{
    width: 30px;
}
.navbar__about{
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 12px;
    background-color: #f8f9fa;
    border: 1px solid #eee;
    border-radius: 8px;
    border-radius: 5px;  
    padding: 10px 1px 10px 2px;  
    margin: 15px 0;
}
.navbar__about__img__element {
    width: 30px;
    border-radius: 50%; 
}
.navbar__about__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.navbar__about__content__name{
    font-size: .8rem;
    font-weight: 600;
}
.navbar__about__content__rol{
    font-size: .7rem;
    font-weight: 100;
    font-style: oblique;
    text-transform: uppercase; 
}
main{
    display: flex;
    flex-direction: column;
    gap: 1vh;;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    background-color: #f0f2f5;
}
.selector{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #ffffff;
    padding: 25px 20px;
    border: none;
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
.selector__filtro{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.selector input, 
.selector select {
    padding: 10px;
    border: 2px solid #d1d5db;
    border-radius: 8px;
    background-color: #f9fafb;
    color: #374151;
    font-size: .9rem;
    transition: all 0.5s ease;
    min-width: 15vw;
}
.selector input{
    min-width: 10vw;
    width: 25vw;
}
.selector input:focus, 
.selector select:focus {
    border-color: #3b82f6; 
}
.selector__volver__boton {
    background-color: red;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.5s;
}

.InfoBalanza{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    background-color: #ffffff;
    margin:20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    margin-bottom: 20px;
    overflow-y: auto;
    height:100%;
}

.ImagenBalanza {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100%; 
    width: 100%;
    display: flex;
}

.ImagenBalanza img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    border: #333 solid 1px; 
}

.InfoBalanza__datos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    border:#222 solid 1px;
    border-radius: 5px;
}

.selector__volver__boton:hover {
    background-color: rgb(196, 95, 95);
}

.navbar__list__element a, 
.navbar__list__element a:visited, 
.navbar__list__element a:hover, 
.navbar__list__element a:active {
    color: #222;
    text-decoration: none;
}

.InfoBalanza__BotonEditar{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    /*place-self: center;*/
}

.selector__editar__boton{
    background-color: #0056b3;
    color: #ffffff;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #075e64;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    width:100%;
    min-height:max-content;
    justify-content: center;
    align-items: flex-end;
}
.selector__editar__boton:hover{
    background-color: #296bb1;
}

.HistorialReportes__lista{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    overflow-y: auto;
    max-height: 300px;
    padding-right: 20px;
}
.HistorialReportes__lista__elemento{
    display: flex;
    justify-content: space-evenly;
    background: #ffffff; 
    border: 1px solid #e0e4e8; 
    border-left: 5px solid #0056b3;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 12px 15px rgba(0,0,0,0.05); 
    transition: all ease .1s;
}
.HistorialReportes__lista__elemento:hover{
    background: #b9d6f171; 
    transform: scale(1.005);
}
.HistorialReportes__lista__elemento>strong{
    color: #0056b3;
    font-size: medium;
}
.HistorialReportes__lista__elemento>strong>span{
    color: #666;
    font-size: small
}
.InfoBalanza__datos__titulo,.HistorialReportes__titulo{
    color: #273c5e;
}
strong{
    color:#475e85 ;
}