@import url('../css/variables-colores.css'); 

* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

body {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in;
}

body.is-loaded {
    visibility: visible;
    opacity: 1;
}

.hero {
    position: relative;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.6) 100%
    ), url('../assets/Login-Inicio/Balanza-Hero.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-text-white);
}

.hero p {
    position: absolute;
    top: 5%;
    left: 45%;
    font-size: 24px;
    text-align: right;
}

.hero p i {
    color: var(--color-accent);
    color: var(--color-accent-hex);
    font-weight: bold;
}

.hero p n {
    font-size: 50px;
    font-weight: bold;
    
}

.right-panel {
    background-color: var(--color-bg-panel);
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    margin-bottom: 20px;
}

.wrapper {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

input {
    display: block;
    width: 100%;
    padding: 16px;
    margin-bottom: 15px;
    border: 1px solid var(--color-border-input);
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

button {
    width: 100%;
    padding: 14px;
    background-color: var(--color-accent);
    border: none;
    color: var(--color-text-white);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

button::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--color-text-white);
}

button:hover {
    background-color: var(--color-accent-dark);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

button:active {
    transform: scale(0.98);
}

@media (max-width: 1024px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}